service: kaltura-zoom

provider:
  name: aws
  region: us-west-2
  runtime: provided
  stage: ${opt:stage, 'prod'}
  memorySize: 256

  iamRoleStatements:
    - Effect: 'Allow'
      Action:
        - secretsmanager:GetSecretValue
        - secretsmanager:ListSecrets
      Resource: '*'

plugins:
  - ./vendor/bref/bref
  - serverless-plugin-aws-alerts

functions:
  cleanup:
    handler: index.php
    description: AWS Lambda function to delete all Zoom recordings associated to the default user
    layers:
      - ${bref:layer.php-73}
    timeout: 30
    events:
      # Run every hour
      - schedule: cron(0 * * * ? *)

custom:
  alerts:
    stages:
      - ${opt:stage,'prod'}
    topics:
      alarm:
        topic: ${self:service}-${opt:stage,'prod'}-alerts-alarm
        notifications:
          - protocol: email
            endpoint: ccle-operations@lists.ucla.edu
    alarms:
      - functionErrors
